/README.el
/elpa/
/emojis/
*~
/#README.org#
/.last-package-update-day
/history
/projectile-bookmarks.eld
/recentf
/transient/
/projects
/custom.el
/init.el
/.cache/
/early-init.el
/forge-database.sqlite
/places
/.#README.org
